body {
    font-family: Arial;
    color: #FFFFFF;
    background-color: #212121;
}
input[type="number"], input[type="text"], input[type="checkbox"] {
    padding: 5px;
    width: 10%;
    height: 20px;
    color: #FFFFFF;
    background-color: #1A1A1A;
    border: 1px solid #171717;
    border-radius: 10px;
}
select {
    padding: 5px;
    width: 10%;
    height: 32px;
    color: #FFFFFF;
    background-color: #1A1A1A;
    border: 1px solid #171717;
    border-radius: 10px;
    display: text;
}
label {
    height: 30px;
    line-height: 28px;
    padding-right: 5px;
    padding-left: 3px;
    text-wrap-mode: nowrap;
}
button {
    padding: 5px;
    width: 10%;
    color: #FFFFFF;
    background-color: #2F8A3B;
    border: 1px solid #1D6B27;
    border-radius: 20px;
    margin-top: 20px;
}
button:hover {
    background-color: #1D6B27;
    border: 1px solid #13571C;
}
 button:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.95);
 }
.argument {
    display: flex;
    margin-top: 10px;
 }
 .argument input{
    margin-right: 10px;
 }
.output {
    padding: 5px;
    color: #A6A6A6;
    background-color: #1A1A1A;
    border: 1px solid #171717;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 59%;
    visibility: hidden;
}
.tooltip {
    position: relative;
    text-decoration-color: #B0B0B0;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.tooltip:hover {
    text-decoration-style: solid;
}
.tooltip .tooltipText {
    visibility: hidden;
    bottom: 125%;
    left: 50%;
    position: absolute;
    color: #A6A6A6;
    background-color: #1A1A1A;
    border: 1px solid #0D0D0D;
    border-radius: 5px;
    width: 325px;
    height: 25px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}
h1 {
    font-size: 48px;
    margin-bottom: 0px;
}
h2 {
    margin-top: 5px;
    font-size: 20px;
    color: #C2C2C2;
}